body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color:rgb(39, 3, 59);
}
h1 {
      font-size: 15rem;
      font-family: Montserrat;
}
.letter {
      transition: color 1000ns;
}